body{
    background-color: rgb(143, 181, 182);
}
h1{
    color: rgb(8, 39, 56);
    text-align: center;
}
h2{
    color:green;
    font-style: italics;
    text-align: center;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 200px;
}